.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.carousel-image {
  height: 300px;
}

.carousel-button {
  padding: 10px;
  border-radius: 5px;
  background-color: lightgray;
  font-size: 15px;
  cursor: pointer;
}
